<header id="header" class="header">
    <div class="container">
        <div class="branding">
            <h1 class="logo">
                <a href="{{ site.baseurl }}/">
                    <span class="text-highlight">CAKEPHP </span><span class="text-bold">ADMINLTE</span>
                </a>
            </h1>
        </div>
        <!--//branding-->
        <ol class="breadcrumb">
            <li><a href="{{ site.baseurl }}/">Home</a></li>
            {% for bread in page.breadCrumbs %}
            <li {% if bread.active == true %} class="active" {% endif %}><a href="{{ bread.url }}">{{ bread.title }}</a></li>
            {% endfor %}
        </ol>
    </div>
    <!--//container-->
</header>
<!--//header-->
